*.iml
.*.sw?
.bundle/
.dependencies/
.idea/
.librarian/
.ruby-version
.vagrant/
.vendor/
.yardoc/
Gemfile.local
Gemfile.lock
Guardfile
Puppetfile.lock
coverage/
log/
pkg/
spec/fixtures/manifests/
spec/fixtures/modules/
vendor/
REFERENCE.md
